<p><%= @porpoise.name %></p>
<p><%= @porpoise.species %></p>
<p><%= @porpoise.location %></p>
<% if @porpoise.photos.attached? %>
    <% @porpoise.photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill, class: "colorful-shadow" %>
    <% end %>
<% end %>
<p>€<%= number_with_precision(@porpoise.price, precision: 2) %> per day</p>

<div class="col-6">
  <% if policy(Booking.new(user: current_user, porpoise: @porpoise)).new? %>
    <div class="container col-4" data-controller="price-update">
      <%= simple_form_for [@porpoise, @booking] do |f| %>
        <%= f.input :start_date,
              as: :string,
              input_html: {
                data: {
                  controller: "flatpickr",
                  price_update_target: "start"
                } } %>
        <%= f.input :end_date,
              as: :string,
              input_html: {
                data: {
                  price_update_target: "end"
                } } %>
        <%= f.submit %>
      <% end %>

      <p><strong>Price: </strong>$<span data-price-update-target="price"><%= @porpoise.price %></span> / day</p>
      <div class="price-box" data-price-update-target="box">
        <p><strong>Total price: </strong>$<span data-price-update-target="total">XXX</span></p>
      </div>
    </div>
  <% end %>

</div>

  <div class="map-container">
    <div id="map"
      style="width: 100%; height: 500px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

<%= link_to "Edit", edit_porpoise_path(@porpoise.id) %>
<%= link_to "Delete", porpoise_path(@porpoise.id), method: :delete, data: { confirm: "Are you sure you want to delete #{@porpoise.name}?" } %>
<%= link_to "Back", index_path %>