<h1>Applied bookings</h1>

<ul>
    <% @applied_bookings.each do |booking| %>
        <li class="flex"><%= booking.porpoise.name %> (<%= booking.start_date %> to <%= booking.end_date %>)
            <% if booking.status == "pending" %>
                <div class="tag pending">Pending</div>
            <% elsif booking.status == "accepted" %>
                <div class="tag accepted">Accepted</div>
            <% else %>
                <div class="tag declined">Declined</div>
            <% end %>
        </li>
    <% end %>
</ul>


<h1>Received bookings</h1>
<ul>
    <% @received_bookings.each do |booking| %>
        <li class="flex"><%= booking.porpoise.name %> (<%= booking.start_date %> to <%= booking.end_date %>)
            <% if booking.status == "pending" %>
                <% if policy(booking).update? %>
                    <%= link_to "Accept", booking_path(booking, { status: "accepted"}),
                method: :patch, class: "badge badge-primary" %>
                    <%= link_to "Decline", booking_path(booking, { status: "declined"}),
                method: :patch, class: "badge badge-danger" %>
                <% end %>
            <% elsif booking.status == "accepted" %>
                <div class="tag accepted">Accepted</div>
            <% elsif booking.status == "declined" %>
                <div class="tag declined">Declined</div>
            <% end %>
        </li>
    <% end %>
</ul>

<%= link_to "Back", index_path %>